# Ignore Python virtual environment
backend/myenv/

# Ignore node modules
frontend/node_modules/


# Ignore SQLite database file
*.sqlite3

# Ignore IDE or editor-specific files
.vscode/
*.pyc

# Ignore environment files
.env
